
 h1{
     color: #897270;
 }
 .sb-sidenav,.sb-sidenav-footer{
    background-color: #585656 !important;

}
.sb-topnav{
    background-color: #7C001A !important;
}
#submitButton{
    background-color: #897270 !important;
}
.btn-primary {
    color: #fff;
    border: 2px solid;
    border-color:  #000000;
}
.btn-primary:hover{
    border-color:#3f3c3c98 ;
    background-color:#3f3c3c98 ;

}
.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #D9415D;
    border-color: #D9415D;
}
#formSubmit{
    display: none;
}
.showHide{
    justify-content: space-evenly;
}
.hide{
    display: flex;
    justify-content: flex-end;
}