
 h1{
     color: #585656;
 }
 .sb-sidenav,.sb-sidenav-footer{
    background-color: #585656 !important;

}
.sb-topnav{
    background-color: #7C001A !important;
}
#submitButton{
    background-color: #897270 !important;
}
#submitButton {
    color: #fff;
    border: 2px solid;
    border-color:  #7C001A;
    
}
#submitButton:hover{
    border-color:  #897270;
    background-color:#7C001A  !important;
    
    
}

#formulaire{
    display: none;
}
.show button{
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    background-color: #7C001A;
    border-color: #7C001A;
    border-radius: 20px;
    margin: 10px;
}
.hide {
    display: flex;
    justify-content: flex-end;
    
    border-radius: 10px ;
}
